[submodule "omega/repository.dontpanic/plex-for-kodi"]
	path = omega/repository.dontpanic/plex-for-kodi
	url = https://github.com/Demonseed-jpg/plex-for-kodi.git
[submodule "omega/plex-for-kodi"]
	path = omega/plex-for-kodi
	url = https://github.com/Demonseed-jpg/plex-for-kodi.git
